@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
.fabriciotav body {
  font-family: "Source Sans Pro" "Helvetica" "Arial" sans-serif;
  font-weight: 400;
  font-size: 16px;
}

body > p {
  line-height: 1.5em;
}
header, footer {
  padding-top: 20px;
}
footer {
  padding-bottom: 20px;
}

h1 {
  color: rgb(30, 30, 30);
  font-size: 42px;
  font-weight: 700;
}

a {
  color: rgb(70, 130, 180);
}

.clearfix { zoom: 1; }
.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
