<!DOCTYPE html>
<html lang="pt-BR" class="fabriciotav">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - fabriciotav</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Data Visualization, Visualização de dados, Data-driven, Análise de dados, d3js, JavaScript, Estatística, statistics, Infográfico, Belo Horizonte, Minas Gerais, Brasil">
    <meta name="description" content="Code, data and design">
    <meta name="author" content="Fabrício Tavares de Oliveira">

    <link href="http://feeds.feedburner.com/fabriciotav" rel="alternate" title="Fabrício Tavares de Oliveira" type="application/atom+xml" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Code, data and design" />
    <meta property="og:site_name" content="Fabrício Tavares" />
    <meta property="og:url" content="http://fabriciotav.org/" />
    <meta property="og:image" content="/img/about.jpg" />
    <meta property="og:description" content="Code, data and design" />

    <style type="text/css">
      @import url(https://fonts.googleapis.com/css?family=Arvo:400,700,400italic);
    </style>

    <link rel="stylesheet" type="text/css" href="/css/all.css">

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38545086-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>

    <div class="container">
      {{ content }}
                
        <footer>
          <div class="row">
            <div class="span4">
              <address>
                <small>
                  <strong><a href="/about.html">Fabrício Tavares de Oliveira</a></strong><br>
                  Co-founder of <a target="_blank" href="http://vizzual.net">Vizzual</a><br>
                  fabricio@fabriciotav.org
                </small>
              </address>
            </div>
            <div class="span4">
              <address>
                <small>
                  <a target="_blank" href="http://github.com/fabriciotav/">github.com/fabriciotav</a><br>
                  <a target="_blank" href="http://twitter.com/fabriciotav/">twitter.com/fabriciotav</a><br>
                  <a target="_blank" href="http://flickr.com/photos/fabriciotav/">flickr.com/photos/fabriciotav</a>
                </small>
              </address>
            </div>
            <div class="span2 pull-right">
              <a href="http://feeds.feedburner.com/fabriciotav">
                <img src="/img/rss.png" alt="Subscribe to RSS Feed" />
              </a>
            </div>
          </div>
        </footer>
      </div>

    <script src="/js/highlight.js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
